2ndkauboy <bernhard@kau-boys.de>
Akeda Bagus <admin@gedex.web.id>
Alex Mills <git@viper007bond.com>
Anant Shrivastava <anant@anantshri.info>
Andreas Heigl <andreas@heigl.org>
andreascreten <andreas@madewithlove.be>
Andrew Patton <andrew@acusti.ca>
andyexeter <palmer.andy@gmail.com>
BA <kau@connecticum.de>
bartaakos <akos@netpositive.hu>
bendoh <ben@thinkoomph.com>
Bernhard Kau <github@kau-boys.de>
Bobby Walters <bobbymwalters@gmail.com>
BoiteAWeb <juliobosk@gmail.com>
boonebgorges <boonebgorges@gmail.com>
Borek Bernard <borekb@gmail.com>
borekb <borekb@gmail.com>
Brad Parbs <brad@bradparbs.com>
Brandon Kraft <public@brandonkraft.com>
Brian MacKinney <brian@getpantheon.com>
builtbylane <lanegoldberg@gmail.com>
c10b10  <alex.ciobica@gmail.com>
c10b10 <alex.ciobica@gmail.com>
Chris Montgomery <chris@montchr.io>
clemens-tolboom <clemens@build2be.com>
conatus <alex@recordsonribs.com>
Corey Worrell <proskater55@gmail.com>
ctayloroomphinc <ctaylor@thinkoomph.com>
cyberhobo <dylan.k.kuhn@gmail.com>
daithi-coombes <webeire@gmail.com>
dangardner <dan@web.nearest.to>
Daniel Bachhuber <daniel.bachhuber@fusion.net>
danielbachhuber <d@danielbachhuber.com>
danielbachhuber <daniel@handbuilt.co>
danielbachhuber <danielbachhuber@gmail.com>
Dave Leach <dave@dmleach.com>
dd32 <contact-atlassian@dd32.id.au>
dlh01 <david@alleyinteractive.com>
drrobotnik <B@Brandons-Mac-Pro-4.local>
Duncan Brown <duncanjbrown@gmail.com>
dwightjack <marco.solazzi@gmail.com>
Eduardo Alencar <ealencar10@gmail.com>
eliorivero <eliorivero@gmail.com>
Enrico Sorcinelli <enrico.sorcinelli@italiaonline.it>
ericandrewlewis <eric.andrew.lewis@gmail.com>
ericmann <eric@eamann.com>
ernilambar <nilambar@outlook.com>
erwanlr <erwan.lr@gmail.com>
eugeneware <eugene@noblesamurai.com>
Evan Mattson <me@aaemnnost.tv>
Fabian Isele <uxdmm@student.kit.edu>
francescolaffi <francesco.laffi@gmail.com>
Frank Staude <frank@staude.net>
Frankie Jarrett <fjarrett@godaddy.com>
future500 <ramon@future500.nl>
Gary Jones <gamajo@gamajo.com>
Geo <geo.artemenko@gmail.com>
getsource <mike.schroder@dreamhost.com>
Gilbert Pellegrom <gilbert@pellegrom.me>
glebis <glebis@gmail.com>
goldenapples <goldenapplesdesign@gmail.com>
goldenapples <ntaintor@janrain.com>
Grant McInnes <grant.mcinnes@eyesopen.ca>
Greg Anderson <greg.1.anderson@greenknowe.org>
hideokamoto <kokkoku214@gmail.com>
Hidetaka Okamoto <kokkoku214@gmail.com>
hina <hina@hinaloe.net>
hinoue-work <wpuser@wp-cli-14.04>
Hiroshi Urabe <mail@torounit.com>
Ian Dunn <ian@iandunn.name>
itsananderson <will@itsananderson.com>
j3lamp <j3lamp@gmail.com>
jacobischwartz <jacob@schwambell.com>
Jakub Juszczak <netghost03@gmail.com>
Jan Voráček <jan@voracek.net>
Japh <japhie@gmail.com>
Jeff Gould <jrgould@gmail.com>
jeichorn <joshua.eichorn@pagely.com>
Jeremy Pry <jeremy.pry@gmail.com>
jghazally <jeff@bigfish.co.uk>
jghazally <jghazally@gmail.com>
Jim Reevior <jim@thinkoomph.com>
jmslbam <jmslbam@gmail.com>
John Blackbourn <john@johnblackbourn.com>
johnbillion <johnbillion@gmail.com>
johnpbloch <jbloch@John-Blochs-iMac.local>
johnpbloch <johnpbloch@gmail.com>
jonathanbardo <jonathanbardo@users.noreply.github.com>
Jorge A. Torres <j@jorgetorres.co>
Josh Eaton <josh@josheaton.org>
joshbetz <j@joshbetz.com>
joshlevinson <joshalevinson@gmail.com>
joshstoik1 <joshstoik@gmail.com>
Joshua Priddle <jpriddle@me.com>
JQ <JeyKeu@users.noreply.github.com>
jtsternberg <me@jtsternberg.com>
KDoole <dev@Kevins-iMac.local>
Keanan Koppenhaver <keanan@doejo.com>
Keith Grennan <keith@nearlyfree.org>
Kevin Doole <kdoole@farmmedia.com>
Kevinlearynet <info@kevinleary.net>
kidfiction <ejdanderson@gmail.com>
lackingpenguin <benjamin.j.brooks@gmail.com>
leewillis77 <leewillis77@gmail.com>
lkwdwrd <woodward.lucas@gmail.com>
Marc Addeo <marcaddeo@gmail.com>
Marco <mcastelluccio@mozilla.com>
marcoceppi <marco@ceppi.net>
Mark Jaquith <mark.github@txfx.net>
Mark Kimsal <metrofindings@gmail.com>
Mark McEver <mark@fastmail.net>
matiskay <matiskay@gmail.com>
mattes <matthias.kadenbach@gmail.com>
mattheu <matthew@matth.eu>
MattiaG <bots@mattiaghedin.it>
mbovel <matthieu@bovel.net>
mboynes <mboynes@alleyinteractive.com>
mgburns <mgburns@bu.edu>
mgburns <mike@grady-etc.com>
Mihail Minkov <Mihail.Minkov.BG@gmail.com>
Mike Pretzlaw <pretzlaw@gmail.com>
mikey dubs <mike@herebox.org>
milesj <mileswjohnson@gmail.com>
MiteshShah <Mitesh.Shah@rtCamp.com>
miya0001 <miya@wpist.me>
Morgan Estes <morgan.estes@gmail.com>
mpeshev <mario@peshev.net>
mwilliamson <michael.williamson@red-gate.com>
mwilliamson <mike@zwobble.org>
mwithheld <vhmark@gmail.com>
nacin <andrewnacin@gmail.com>
Nate Wright <natew@notthisway.com>
navitronic <adrian@navitronic.co.uk>
nb <nb@nikolay.bg>
Ned Zimmerman <ned@bight.ca>
nickdaugherty <ndaugherty987@gmail.com>
nikhilc@bsf.io <nikhilc@bsf.io>
nikolay <nikolay@users.noreply.github.com>
nikolay <nikolaynkolev@gmail.com>
Nilambar Sharma <ernilambar@users.noreply.github.com>
Nilambar Sharma <nilambar@outlook.com>
nschoenholtz <noah@alleyinteractive.com>
nullvariable <nullvariable@gmail.com>
nyordanov <me@nyordanov.com>
ocean90 <dominikschilling+git@gmail.com>
oknoway <nate@oknoway.com>
om4james <james@jamesc.id.au>
om4james <james@om4.com.au>
oneumyvakin <oneumyvakin@gmail.com>
Otto Kekäläinen <otto@seravo.fi>
ozh <ozh@ozh.org>
Patrick Karjala <pkarjala@gmail.com>
Pete Nelson <pete@petenelson.com>
pete@petenelson.com <petenelson@fortress.local>
Peter J. Herrel <peterherrel@gmail.com>
phh <phh@peytz.dk>
Pippin Williamson <pippin@pippinsplugins.com>
QWp6t <QWp6t+github@xpdnc.org>
Rachel Baker <rachel@rachelbaker.me>
Radu Dan <za_creature@yahoo.com>
Rahul Prajapati <rahul.prajapati@rtcamp.com>
Rarst <contact@rarst.net>
robertboloc <robertboloc@gmail.com>
Robin Schneider <ypid@riseup.net>
rodrigoprimo <rodrigo@hacklab.com.br>
rodrigoprimo <rodrigosprimo@gmail.com>
Roel Veldhuizen <roel@inesta.nl>
roelveldhuizen <roel@inesta.nl>
roelven <roel@soundcloud.com>
Ross Hattori <rhattori@saymedia.com>
Ryan Hoover <ryanshoover@gmail.com>
Ryan McCue <me@ryanmccue.info>
Ryan Williams <ryrowi@gmail.com>
ryanduff <ryan@fusionized.com>
santagada <santagada@gmail.com>
sboisvert <stephane.boisvert@automattic.com>
scribu <mail@scribu.net>
scribu <scribu@gmail.com>
sebastiaandegeus <sebastiaan@hoppinger.com>
Shinichi Nishikawa <shinichi.nishikawa@gmail.com>
sibprogrammer <ayuzhakov@parallels.com>
simonwheatley <simonw@codeforthepeople.com>
smhmic <smhmic@gmail.com>
soulou <leo@soulou.fr>
spacedmonkey <spacedmonkey2@gmail.com>
SpikesDivZero <wesley.spikes@gmail.com>
spuriousdata <spuriousdata@gmail.com>
Stephen Beemsterboer <balbuf@users.noreply.github.com>
Stephen Edgar <stephen@netweb.com.au>
Stephen Harris <contact@stephenharris.info>
Stephen Harris <Stephen.Harris@gov.scot>
Stephen Harris <Stephen.Harris@scotland.gsi.gov.uk>
Steve Grunwell <steve.grunwell@10up.com>
Steve Grunwell <steve@stevegrunwell.com>
Steve Grunwell <stevegrunwell@gmail.com>
Steve Persch <steve.persch@pantheon.io>
Steven K Word <stevenword@gmail.com>
stianlik <stianlik@gmail.com>
Stéphane HULARD <s.hulard@chstudio.fr>
svaj <chris@chrisbot.(none)>
Svetoslav Marinov (Slavi) <slavi@orbisius.com>
szepeviktor <viktor@szepe.net>
taupecat <tracy@taupecat.com>
tddewey <td@tddewey.com>
thisislawatts <luke@thisis.la>
tiagohillebrandt <tiagohillebrandt@ubuntu.com>
tlovett1 <admin@taylorlovett.com>
tolgap <tolga@hoppinger.com>
tollmanz <tollmanz@gmail.com>
tollmanz <zack@zackdev.com>
toszcze <toszcze@gmail.com>
tott <tott@automattic.com>
Travis Northcutt <travis@memberup.co>
trepmal <trepmal@gmail.com>
Tristan Penman <tristan@tristanpenman.com>
twisty <tim@brayshaw.com>
twratajczak <tomasz.ratajczak@espeo.pl>
Utkarsh Patel <iamutkarsh@live.com>
Veered <lucashansne@gmail.com>
veganista <liam@nanothree.net>
Ville Vuorenmaa <villevuor@gmail.com>
voldemortensen <voldemortensen@users.noreply.github.com>
Wendell Júnior <wrnx00@gmail.com>
Wes Moberly <wesm87@gmail.com>
Wes Moberly <wesm87@users.noreply.github.com>
westonruter <weston@x-team.com>
westonruter <westonruter@gmail.com>
William Turrell <william@wturrell.co.uk>
willmot <tom@humanmade.co.uk>
wojsmol <wojsmol@wp.pl>
wopr42 <john@zippykid.com>
yivi <ivan@ojiva.es>
yivi <ivan@yivoff.com>
ziz <justin@crowdfavorite.com>
