andreascreten <andreas@madewithlove.be>
bendoh <ben@thinkoomph.com>
builtbylane <lanegoldberg@gmail.com>
conatus <alex@recordsonribs.com>
danielbachhuber <d@danielbachhuber.com>
drrobotnik <B@Brandons-Mac-Pro-4.local>
dwightjack <marco.solazzi@gmail.com>
ericandrewlewis <eric.andrew.lewis@gmail.com>
ericmann <eric@eamann.com>
getsource <mike.schroder@dreamhost.com>
goldenapples <ntaintor@janrain.com>
jghazally <jeff@bigfish.co.uk>
jghazally <jghazally@gmail.com>
jmslbam <jmslbam@gmail.com>
johnpbloch <jbloch@John-Blochs-iMac.local>
johnpbloch <johnpbloch@gmail.com>
kidfiction <ejdanderson@gmail.com>
lackingpenguin <benjamin.j.brooks@gmail.com>
leewillis77 <leewillis77@gmail.com>
marcoceppi <marco@ceppi.net>
matiskay <matiskay@gmail.com>
mgburns <mgburns@bu.edu>
mgburns <mike@grady-etc.com>
milesj <mileswjohnson@gmail.com>
mwilliamson <michael.williamson@red-gate.com>
mwilliamson <mike@zwobble.org>
nacin <andrewnacin@gmail.com>
navitronic <adrian@navitronic.co.uk>
nb <nb@nikolay.bg>
ocean90 <dominikschilling+git@gmail.com>
roelven <roel@soundcloud.com>
scribu <scribu@gmail.com>
sebastiaandegeus <sebastiaan@hoppinger.com>
soulou <leo@soulou.fr>
spuriousdata <spuriousdata@gmail.com>
svaj <chris@chrisbot.(none)>
taupecat <tracy@taupecat.com>
tddewey <td@tddewey.com>
tollmanz <zack@zackdev.com>
toszcze <toszcze@gmail.com>
tott <tott@automattic.com>
wopr42 <john@zippykid.com>
