2ndkauboy <bernhard@kau-boys.de>
Alex Mills <git@viper007bond.com>
Andreas Heigl <andreas@heigl.org>
andreascreten <andreas@madewithlove.be>
Andrew Patton <andrew@acusti.ca>
BA <kau@connecticum.de>
bartaakos <akos@netpositive.hu>
bendoh <ben@thinkoomph.com>
Bobby Walters <bobbymwalters@gmail.com>
BoiteAWeb <juliobosk@gmail.com>
boonebgorges <boonebgorges@gmail.com>
Borek Bernard <borekb@gmail.com>
borekb <borekb@gmail.com>
Brad Parbs <brad@bradparbs.com>
Brian MacKinney <brian@getpantheon.com>
builtbylane <lanegoldberg@gmail.com>
c10b10  <alex.ciobica@gmail.com>
clemens-tolboom <clemens@build2be.com>
conatus <alex@recordsonribs.com>
ctayloroomphinc <ctaylor@thinkoomph.com>
cyberhobo <dylan.k.kuhn@gmail.com>
dangardner <dan@web.nearest.to>
Daniel Bachhuber <daniel.bachhuber@fusion.net>
danielbachhuber <d@danielbachhuber.com>
danielbachhuber <daniel@handbuilt.co>
danielbachhuber <danielbachhuber@gmail.com>
dd32 <contact-atlassian@dd32.id.au>
dlh01 <david@alleyinteractive.com>
drrobotnik <B@Brandons-Mac-Pro-4.local>
dwightjack <marco.solazzi@gmail.com>
ericandrewlewis <eric.andrew.lewis@gmail.com>
ericmann <eric@eamann.com>
eugeneware <eugene@noblesamurai.com>
francescolaffi <francesco.laffi@gmail.com>
future500 <ramon@future500.nl>
getsource <mike.schroder@dreamhost.com>
glebis <glebis@gmail.com>
goldenapples <ntaintor@janrain.com>
itsananderson <will@itsananderson.com>
j3lamp <j3lamp@gmail.com>
jeichorn <joshua.eichorn@pagely.com>
Jeremy Pry <jeremy.pry@gmail.com>
jghazally <jeff@bigfish.co.uk>
jghazally <jghazally@gmail.com>
Jim Reevior <jim@thinkoomph.com>
jmslbam <jmslbam@gmail.com>
johnbillion <johnbillion@gmail.com>
johnpbloch <jbloch@John-Blochs-iMac.local>
johnpbloch <johnpbloch@gmail.com>
jonathanbardo <jonathanbardo@users.noreply.github.com>
joshbetz <j@joshbetz.com>
joshlevinson <joshalevinson@gmail.com>
JQ <JeyKeu@users.noreply.github.com>
Keith Grennan <keith@nearlyfree.org>
Kevinlearynet <info@kevinleary.net>
kidfiction <ejdanderson@gmail.com>
lackingpenguin <benjamin.j.brooks@gmail.com>
leewillis77 <leewillis77@gmail.com>
lkwdwrd <woodward.lucas@gmail.com>
marcoceppi <marco@ceppi.net>
matiskay <matiskay@gmail.com>
mattes <matthias.kadenbach@gmail.com>
mattheu <matthew@matth.eu>
mboynes <mboynes@alleyinteractive.com>
mgburns <mgburns@bu.edu>
mgburns <mike@grady-etc.com>
mikey dubs <mike@herebox.org>
milesj <mileswjohnson@gmail.com>
MiteshShah <Mitesh.Shah@rtCamp.com>
miya0001 <miya@wpist.me>
Morgan Estes <morgan.estes@gmail.com>
mwilliamson <michael.williamson@red-gate.com>
mwilliamson <mike@zwobble.org>
mwithheld <vhmark@gmail.com>
nacin <andrewnacin@gmail.com>
navitronic <adrian@navitronic.co.uk>
nb <nb@nikolay.bg>
nickdaugherty <ndaugherty987@gmail.com>
nikolay <nikolay@users.noreply.github.com>
nikolay <nikolaynkolev@gmail.com>
nschoenholtz <noah@alleyinteractive.com>
nullvariable <nullvariable@gmail.com>
nyordanov <me@nyordanov.com>
ocean90 <dominikschilling+git@gmail.com>
oknoway <nate@oknoway.com>
om4james <james@jamesc.id.au>
om4james <james@om4.com.au>
oneumyvakin <oneumyvakin@gmail.com>
ozh <ozh@ozh.org>
phh <phh@peytz.dk>
Pippin Williamson <pippin@pippinsplugins.com>
Rarst <contact@rarst.net>
robertboloc <robertboloc@gmail.com>
rodrigoprimo <rodrigo@hacklab.com.br>
rodrigoprimo <rodrigosprimo@gmail.com>
roelven <roel@soundcloud.com>
Ross Hattori <rhattori@saymedia.com>
ryanduff <ryan@fusionized.com>
santagada <santagada@gmail.com>
sboisvert <stephane.boisvert@automattic.com>
scribu <mail@scribu.net>
scribu <scribu@gmail.com>
sebastiaandegeus <sebastiaan@hoppinger.com>
sibprogrammer <ayuzhakov@parallels.com>
simonwheatley <simonw@codeforthepeople.com>
soulou <leo@soulou.fr>
spacedmonkey <spacedmonkey2@gmail.com>
SpikesDivZero <wesley.spikes@gmail.com>
spuriousdata <spuriousdata@gmail.com>
Stephen Edgar <stephen@netweb.com.au>
stianlik <stianlik@gmail.com>
svaj <chris@chrisbot.(none)>
Svetoslav Marinov (Slavi) <slavi@orbisius.com>
szepeviktor <viktor@szepe.net>
taupecat <tracy@taupecat.com>
tddewey <td@tddewey.com>
thisislawatts <luke@thisis.la>
tiagohillebrandt <tiagohillebrandt@ubuntu.com>
tlovett1 <admin@taylorlovett.com>
tollmanz <zack@zackdev.com>
toszcze <toszcze@gmail.com>
tott <tott@automattic.com>
trepmal <trepmal@gmail.com>
twisty <tim@brayshaw.com>
twratajczak <tomasz.ratajczak@espeo.pl>
Wendell Júnior <wrnx00@gmail.com>
westonruter <weston@x-team.com>
westonruter <westonruter@gmail.com>
William Turrell <william@wturrell.co.uk>
willmot <tom@humanmade.co.uk>
wopr42 <john@zippykid.com>
yivi <ivan@ojiva.es>
yivi <ivan@yivoff.com>
ziz <justin@crowdfavorite.com>
