parameters:
  level: 9
  paths:
    - php/commands
    - php/WP_CLI
    - php/boot-fs.php
    - php/bootstrap.php
    - php/class-wp-cli.php
    - php/class-wp-cli-command.php
    - php/dispatcher.php
    - php/utils.php
    - php/utils-wp.php
    - php/wp-cli.php
    - tests
  excludePaths:
     - php/WP_CLI/ComposerIO.php
     - php/WP_CLI/PackageManagerEventSubscriber.php
     - tests/data
  scanDirectories:
    - bundle/rmccue/requests
    - vendor/wp-cli/wp-cli-tests
  scanFiles:
    - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    - utils/phpstan/scan-files.php
    - php/boot-fs.php
  treatPhpDocTypesAsCertain: false
  dynamicConstantNames:
    - WP_DEBUG
    - WP_DEBUG_LOG
    - WP_DEBUG_DISPLAY
  strictRules:
    uselessCast: true
    closureUsesThis: true
    overwriteVariablesWithLoop: true
    matchingInheritedMethodNames: true
    numericOperandsInArithmeticOperators: true
    switchConditionsMatchingType: true
  ignoreErrors:
    - identifier: missingType.iterableValue
    - identifier: missingType.property
    - identifier: missingType.parameter
    - identifier: missingType.return
    - '#Attribute class PHPUnit\\Framework\\Attributes\\DataProvider does not exist#'

