<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="always"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestSize="true"
         beStrictAboutChangesToGlobalState="false">
	<testsuites>
		<testsuite>
			<directory prefix="spec-" suffix=".php">tests/</directory>
			<directory prefix="test-" suffix=".php">tests/</directory>
			<directory suffix="Test.php">tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
