<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/4.8/phpunit.xsd"
		 bootstrap="tests/bootstrap.php"
		 backupGlobals="false"
		 beStrictAboutCoversAnnotation="true"
		 beStrictAboutOutputDuringTests="true"
		 beStrictAboutTestsThatDoNotTestAnything="true"
		 beStrictAboutTodoAnnotatedTests="true"
		 colors="true"
		 verbose="true">
	<testsuite name="wp-cli/wp-cli tests">
		<directory suffix="Test.php">tests</directory>
	</testsuite>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
</phpunit>
