<?php
$envVar = getenv( 'WP_TESTS_DIR' );
if( isset( $envVar ) ){
    define( 'WP_TESTS_DIR', $envVar );
}
elseif( file_exists( WP_CONTENT_DIR . '/unit-tests' ) )
    define( 'WP_TESTS_DIR', WP_CONTENT_DIR . '/unit-tests' );
else
    throw new Exception( 'Please set the WP_TESTS_DIR' );

require_once WP_TESTS_DIR . '/includes/functions.php';

function _manually_load_plugin() {
    require dirname( __FILE__ ) . '/../$pluginName.php';
}
tests_add_filter( 'muplugins_loaded', '_manually_load_plugin' );

require WP_TESTS_DIR . '/includes/bootstrap.php';