/*
Theme Name:     {{theme_name}}
Theme URI:      {{theme_uri}}
Description:    {{description}}
Author:         {{author}}
Author URI:     {{author_uri}}
Template:       {{parent_theme}}
Version:        0.1.0
*/
