<?php

add_action( 'wp_enqueue_scripts', '{{parent_theme}}_parent_theme_enqueue_styles' );

function {{parent_theme}}_parent_theme_enqueue_styles() {
    wp_enqueue_style( '{{parent_theme}}-style', get_template_directory_uri() . '/style.css' );
    wp_enqueue_style( '{{slug}}-style',
        get_stylesheet_directory_uri() . '/style.css',
        array('{{parent_theme}}-style')
    );

}
