{{#is_subcommand}}


{{/is_subcommand}}
{{#has_subcommands}}


{{/has_subcommands}}
{{#has_parameters}}
## GLOBAL PARAMETERS

{{#parameters}}
  {{synopsis}}
      {{desc}}

{{/parameters}}
{{/has_parameters}}
{{#root_command}}
  Run 'wp help <command>' to get more information on a specific command.

{{/root_command}}
