{{^root_command}}


{{/root_command}}
## GLOBAL PARAMETERS

{{#parameters}}
  {{synopsis}}
      {{desc}}

{{/parameters}}
{{#root_command}}
  Run 'wp help <command>' to get more information on a specific command.
{{/root_command}}
