## NAME

	{{name}}

{{#shortdesc}}
## DESCRIPTION

	{{shortdesc}}

{{/shortdesc}}
## SYNOPSIS

	{{synopsis}}

{{#has-subcommands}}
## SUBCOMMANDS

{{#subcommands}}
	{{.}}
{{/subcommands}}

{{/has-subcommands}}
