<?php
/**
 * Plugin Name: {{plugin_name}}
 * Version: 0.1-alpha
 * Description: {{plugin_description}}
 * Author: {{plugin_author}}
 * Author URI: {{plugin_author_uri}}
 * Plugin URI: {{plugin_uri}}
 * Text Domain: {{textdomain}}
 * Domain Path: /languages
 * @package {{plugin_package}}
 */
