machine:
  php:
    version: 5.6.22
  environment:
    PATH: $HOME/.composer/vendor/bin:$PATH

dependencies:
  pre:
    - sudo apt-get update; sudo apt-get install subversion

test:
  pre:
    - bash bin/install-wp-tests.sh wordpress_test ubuntu '' 127.0.0.1 latest
    - |
      composer global require wp-coding-standards/wpcs
      phpcs --config-set installed_paths $HOME/.composer/vendor/wp-coding-standards/wpcs
  override:
    - phpcs --standard=phpcs.ruleset.xml $(find . -name '*.php')
    - phpunit
