	register_post_type( '{{slug}}', array(
		'hierarchical'        => false,
		'public'              => true,
		'show_in_nav_menus'   => true,
		'show_ui'             => true,
		'supports'            => array( 'title', 'editor' ),
		'has_archive'         => true,
		'query_var'           => true,
		'rewrite'             => true,
		'labels'              => array(
			'name'                => __( '{{label_plural_ucfirst}}', '{{textdomain}}' ),
			'singular_name'       => __( '{{label_ucfirst}}', '{{textdomain}}' ),
			'add_new'             => __( 'Add new {{label}}', '{{textdomain}}' ),
			'all_items'           => __( '{{label_plural_ucfirst}}', '{{textdomain}}' ),
			'add_new_item'        => __( 'Add new {{label}}', '{{textdomain}}' ),
			'edit_item'           => __( 'Edit {{label}}', '{{textdomain}}' ),
			'new_item'            => __( 'New {{label}}', '{{textdomain}}' ),
			'view_item'           => __( 'View {{label}}', '{{textdomain}}' ),
			'search_items'        => __( 'Search {{label_plural}}', '{{textdomain}}' ),
			'not_found'           => __( 'No {{label_plural}} found', '{{textdomain}}' ),
			'not_found_in_trash'  => __( 'No {{label_plural}} found in trash', '{{textdomain}}' ),
			'parent_item_colon'   => __( 'Parent {{label}}', '{{textdomain}}' ),
			'menu_name'           => __( '{{label_plural_ucfirst}}', '{{textdomain}}' ),
		),
	) );
