<?php


// ** MySQL settings ** //
/** The name of the database for WordPress */
define('DB_NAME', '{{dbname}}');

/** MySQL database username */
define('DB_USER', '{{dbuser}}');

/** MySQL database password */
define('DB_PASSWORD', '{{dbpass}}');

/** MySQL hostname */
define('DB_HOST', '{{dbhost}}');

/** Database Charset to use in creating database tables. */
define('DB_CHARSET', '{{dbcharset}}');

/** The Database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '{{dbcollate}}');

{{#keys-and-salts}}
{{keys-and-salts}}
{{/keys-and-salts}}

$table_prefix = '{{dbprefix}}';

define('WPLANG', '{{locale}}');

{{extra-php}}


/* That's all, stop editing! Happy blogging. */

/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');
