<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the
 * installation. You don't have to use the web site, you can
 * copy this file to "wp-config.php" and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://codex.wordpress.org/Editing_wp-config.php
 *
 * @package WordPress
 */

// ** MySQL settings ** //
/** The name of the database for WordPress */
define( 'DB_NAME', '{{dbname}}' );

/** MySQL database username */
define( 'DB_USER', '{{dbuser}}' );

/** MySQL database password */
define( 'DB_PASSWORD', '{{dbpass}}' );

/** MySQL hostname */
define( 'DB_HOST', '{{dbhost}}' );

/** Database Charset to use in creating database tables. */
define( 'DB_CHARSET', '{{dbcharset}}' );

/** The Database Collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '{{dbcollate}}' );

/**
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
{{#keys-and-salts}}
{{keys-and-salts}}
{{/keys-and-salts}}

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix = '{{dbprefix}}';

{{#add-wplang}}
define( 'WPLANG', '{{locale}}' );
{{/add-wplang}}

{{extra-php}}

/* That's all, stop editing! Happy blogging. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) )
	define( 'ABSPATH', dirname( __FILE__ ) . '/' );

/** Sets up WordPress vars and included files. */
require_once ABSPATH . 'wp-settings.php';
