name: Code Quality Checks

on:
  pull_request:
  push:
    branches:
      - main
      - master

jobs:
  code-quality:
    uses: wp-cli/.github/.github/workflows/reusable-code-quality.yml@main
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
